<pre><%=@titles%></pre>
<%= @end_page_no %>
<div class='map'>
<% for i in (1..@count)%>
  <% if @map["content"]["#{i}"].present? %>
      <li class="section">
        <%= @map["content"]["#{i}"]["title"].chop %>
          <% if @map["content"]["#{i}"]["subt"].present? %>
            <ul>
              <% for j in (1..@count)%>
                <% if @map["content"]["#{i}"]["subt"]["#{j}"].present? %>
                  <li class="section">
                    <%= @map["content"]["#{i}"]["subt"]["#{j}"]%>
                  </li>
                  <% else %>
                  <% break %>
                <% end %>
              <% end %>
            </ul>
          <% end %>
      </li>
  <% end %>
<% end %>
</div>
