<div class="left">
<%= @info %>

<% @arr_of_titles.each do |title| %>
  <%= title[/\A */].size %>
<% end %>
<br/>

<%= @map["0"] %>
<br/>
<% @map.each do |key, value| %>
  <% if @map["content"].present? %>
      <% count = 1 %>
        <% @map["content"].each do  %>
          <%= @map["content"]["#{count}"]%> <br/><br/>
          <% count+=1 %>
        <% end %>
  <% end %>
<% end %>
</div>
