<canvas id="canv"></canvas>
<div class="site-wrapper">
   <div class="site-wrapper-inner">
     <div class="cover-container">
       <div class="masthead clearfix">
         <div class="inner">
           <h3 class="masthead-brand">Automapper</h3>
           <nav class="nav nav-masthead">
             <a class="nav-link active" href="#">Home</a>
             <a class="nav-link" href="#">Features</a>

             <% if user_signed_in? %>
                <a class="nav-link" href="/tree_views">Tree Views</a>
             <% else %>
                <a class="nav-link" href="/users/sign_in">Sign In</a>
             <% end %>
           </nav>
         </div>
       </div>

       <div class="inner cover">
         <h1 class="cover-heading">Automapper, an auto mind mapping tool</h1>
         <p class="lead">Automapper is a mind map engine which will create mind maps based on the content with the help of advanced machine learning, deep learning and natural language processing techniques .</p>
         <p class="lead">
           <a href="/tree_views" class="btn btn-lg btn-secondary">Give a try</a>
         </p>
       </div>
   </div>
</div>
</div>
