<canvas id="canv"></canvas>
<div class="site-wrapper">
   <div class="site-wrapper-inner">
     <div class="cover-container">
       <div class="masthead clearfix">
         <div class="inner">
           <h3 class="masthead-brand">Automapper</h3>
           <nav class="nav nav-masthead">
             <a class="nav-link active" href="#">Home</a>
             <a class="nav-link" href="#">Features</a>
             <a class="nav-link" href="#">Contact</a>
           </nav>
         </div>
       </div>

       <div class="inner cover">
         <h1 class="cover-heading">Automapper is a self mind mapping tool</h1>
         <p class="lead">Automapper is a mind map engine which will create mind maps for you based on the content you provide with the help of advanced machine learning, deep learning and natural language processing techniques .</p>
         <p class="lead">
           <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
         </p>
       </div>
   </div>
</div>
</div>
